.sidebarFreind{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFreindImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.sidebarFreindName{
    font-weight: 500;
}